*, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h1{
    font-size: 22px;
    font-weight: bold;
    color: black;
}

p{
    color: rgb(104, 104, 104);
}

p.customer{
    font-size: 16px;
    font-weight: bold;
    color: black;
}